<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>WordBankProj</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>listing</servlet-name>
    <servlet-class>com.trylingual.servlet.ListingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listing</servlet-name>
    <url-pattern>/</url-pattern>
    <url-pattern>/index.html</url-pattern>
    <url-pattern>/list</url-pattern>
    <url-pattern>/wordpairs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddNewWord</servlet-name>
    <servlet-class>com.trylingual.servlet.AddNewWordPairServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewWord</servlet-name>
    <url-pattern>/new-expression</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditWord</servlet-name>
    <servlet-class>com.trylingual.servlet.EditWordPairServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditWord</servlet-name>
    <url-pattern>/edit.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewWord</servlet-name>
    <servlet-class>com.trylingual.servlet.ViewWordPairServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewWord</servlet-name>
    <url-pattern>/view.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteWord</servlet-name>
    <servlet-class>com.trylingual.servlet.DeleteWordPairServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteWord</servlet-name>
    <url-pattern>/delete.html</url-pattern>
  </servlet-mapping>
</web-app>